<% provide :new_url, current_host + @link.custom %>

<p class="lead">Your link will be removed if unused for a month.</p>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
    <div class="input-group input-group-lg">
      <input id="new-url" class="form-control" type="text"
             autofocus="autofocus" value=<%= yield :new_url %>>
      <span class="input-group-btn">
        <button id="copy" class="btn btn-primary" type="button"
                data-clipboard-target="new-url"
                data-clipboard-text=<%= yield :new_url %>>copy</button>
      </span>
    </div>
  </div>
</div>
