<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form role="form">
      <input type="text"
             class="form-control input-lg"
             autofocus="autofocus"
             value="<%= current_host + @link.custom %>">
    </form>
  </div>
</div>
