/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* debug */

.debug_dump {
  /* position: absolute; */
  /* bottom: 0px; */
  clear: both;
  float: left;
  width: 100%;
  margin-top: 50px;
}


/* error */

.alert {
  text-align: left;
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}
